* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
button {
  font-family: inherit;
}

button {
  color: inherit;
  font: inherit;
  border: none;
  text-transform: none;
  -webkit-appearance: button;
}

input[type='button'],
input[type='submit'],
input[type='reset'] {
  -webkit-appearance: none;
}
video {
  object-fit: fill;
}
textarea {
  -webkit-appearance: none;
}

html,
body {
  margin: 0 auto;
  max-width: 1920px;
}

body {
  margin: 0;
  color: #3e3e3e;
  background: url(../images/bg.jpg) no-repeat center top;
  /* background-size: 100% auto; */
  background-color: #d8dad9;
  font-family: 'Microsoft Yahei', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans',
    Arial, 'Hiragino Sans GB', STHeiti, PingFangSC-Regular, sans-serif;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: auto !important;
  font-size: 14px;
  -webkit-overflow-scrolling: touch;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  z-index: 300;
}
.container {
  display: block;
}
.kv {
  width: 100%;
  height: 740px;
  position: relative;
}
.kv .buttons {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.kv .buttons a {
  display: inline-block;
  width: 156px;
  height: 43px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 43px;
  margin: 0 7px;
}
.kv .buttons .bg1 {
  background: url(../images/btn_bg.png) no-repeat center top;
  background-size: 100% auto;
}
.kv .buttons .bg2 {
  background: url(../images/btn_bg_2.png) no-repeat center top;
  background-size: 100% auto;
}
.content {
  width: 1166px;
  margin: 0 auto;
}
.top {
  background: url(../images/box_bg_1.png) no-repeat center top;
  background-size: 100% auto;
  height: 681px;
  margin-top: 50px;
  padding: 0 110px 0 100px;
}
.top .comm-desc {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 24px 30px;
  position: relative;
  top: -30px;
}
.top .comm-desc h3 {
  font-size: 24px;
  color: #7fa83e;
  text-align: center;
  padding-left: 20px;
}
.top .comm-desc .line {
  margin: 10px 0 15px;
}
.top .comm-desc .text {
  text-align: justify;
  font-size: 16px;
  height: 150px;
  overflow-y: scroll;
  padding-right: 20px;
}
.top .comm-desc .text > p {
  text-indent: 50px;
}
.top .comm-desc .text::-webkit-scrollbar {
  width: 8px;
  height: 1px;
}
.top .comm-desc .text::-webkit-scrollbar-thumb {
  background-color: #548309;
  border-radius: 5px;
}
.top .comm-desc .text::-webkit-scrollbar-track {
  background-color: #b4d37a;
  border-radius: 5px;
}
.top .top-video {
  width: 879px;
  margin: 0 auto;
}
.top .top-video video {
  width: 100%;
}
.top .top-video .title {
  background: url(../images/text_bg.png) no-repeat center top;
  background-size: 100% auto;
  width: 879px;
  height: 46px;
  font-size: 16px;
  margin-top: 20px;
  line-height: 46px;
  padding: 0 20px;
}
