* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
button {
  font-family: inherit;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
  border: none;
  text-transform: none;
  -webkit-appearance: button;
}

input[type='button'],
input[type='submit'],
input[type='reset'] {
  -webkit-appearance: none;
}
video {
  object-fit: fill;
}
textarea {
  -webkit-appearance: none;
}

html {
  font-size: 50px;
}

html,
body {
  height: 100%;
  width: 100%;
  /* max-width: 750px; */
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  margin: 0;
  color: #373737;
  background-color: #bab5b2;
  font-family: 'Microsoft Yahei', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans',
    Arial, 'Hiragino Sans GB', STHeiti, PingFangSC-Regular, sans-serif;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: auto !important;
  font-size: 0.24rem;
  -webkit-overflow-scrolling: touch;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  z-index: 300;
}
.container {
  display: block;
}
.kv {
  width: 100%;
  position: relative;
}
.kv .buttons {
  position: absolute;
  bottom: 0.55rem;
  width: 100%;
  padding: 0 0.55rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.kv .buttons a {
  display: inline-block;
  width: 1.97rem;
  height: 0.53rem;
  font-size: 0.26rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  line-height: 0.48rem;
  margin-bottom: 0.2rem;
}
.kv .buttons .bg1 {
  background: url(../images/btn_1.png) no-repeat center top;
  background-size: 100% auto;
}
.kv .buttons .bg2 {
  background: url(../images/btn_2.png) no-repeat center top;
  background-size: 100% auto;
}

