* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

input,
button {
  font-family: inherit;
}

button {
  color: inherit;
  font: inherit;
  margin: 0;
  border: none;
  text-transform: none;
  -webkit-appearance: button;
}

input[type='button'],
input[type='submit'],
input[type='reset'] {
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
}

html {
  font-size: 50px;
}

html,
body {
  height: 100%;
  width: 100%;
  /* max-width: 750px; */
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  margin: 0;
  color: #595757;
  background-color: #f4f8fd;
  font-family: 'Microsoft Yahei', 'Helvetica Neue', 'Luxi Sans', 'DejaVu Sans',
    Arial, 'Hiragino Sans GB', STHeiti, PingFangSC-Regular, sans-serif;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: auto !important;
  font-size: 0.24rem;
  -webkit-overflow-scrolling: touch;
}

.container {
  display: block;
}
.message {
  padding: 0.3rem 0.4rem;
  font-size: 0.3rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.15rem;
  position: absolute;
  top: 40%;
  width: 4.6rem;
  left: 50%;
  margin-left: -2.3rem;
  text-align: center;
  display: none;
  z-index: 400;
  border-radius: 0.15rem;
}

.video-wrapper {
  display: none;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
}
.video-wrapper #video-play {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.video-wrapper .close {
  width: 0.5rem;
  position: absolute;
  right: 0.38rem;
  top: 0.22rem;
  z-index: 500;
  background-color: #ffffff;
  border-radius: 0.25rem;
}
.contents {
  background: url(../images/box_bg.png) no-repeat center top;
  background-size: 100% auto;
  width: 7.06rem;
  height: 5.58rem;
  margin: 0.25rem auto;
}
.contents .title {
  font-size: 0.56rem;
  text-align: center;
  color: #154b8a;
  padding-top: 0.35rem;
}
.contents .title span:first-child {
  border-right: 1px solid #154b8a;
  padding-right: 0.15rem;
  font-weight: 600;
}
.contents .title span:last-child {
  font-size: 0.36rem;
  margin-left: 0.04rem;
}
.contents ul {
  width: 2rem;
  margin: 0.2rem auto;
}
.contents ul li {
  background: url(../images/icon.png) no-repeat left center;
  background-size: 0.2rem 0.2rem;
  font-size: 0.36rem;
  padding-left: 0.38rem;
  margin-bottom: 0.2rem;
}
.contents ul li:last-child {
  margin-bottom: 0;
}
.list {
  padding: 0 0.25rem;
}
.list .item {
  margin-bottom: 0.4rem;
}
.list .item h3 {
  font-size: 0.5rem;
  color: #154b8a;
  font-weight: 400;
  background: url(../images/icon.png) no-repeat left center;
  background-size: 0.4rem 0.4rem;
  padding-left: 0.5rem;
  margin: 0 auto;
  width: 2.5rem;
}
.list .item .download {
  color: #154b8a;
  font-size: 0.2rem;
  border: 1px solid #154b8a;
  padding: 0.05rem 0.1rem;
  border-radius: 0.2rem;
  width: 1.06rem;
  margin: 0.1rem auto 0.2rem;
}
.list .item .rows {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list .item .rows:after {
  content: '';
  width: 31%;
}

.list .item .rows li {
  width: 31%;
  height: 3rem;
  overflow: hidden;
  position: relative;
  font-size: 0.2rem;
  margin-bottom: 0.3rem;
}
.list .item .rows li a {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.list .item .rows li a .text {
  width: 100%;
  height: 1rem;
  display: flex;
  display: -webkit-flex;
  font-size: 0.24rem;
  color: #fff;
  background-image: linear-gradient(to right, #154b8a, #154b8a);
  position: absolute;
  align-items: center;
  justify-content: center;
  line-height: 0.3rem;
  align-content: center;
  padding: 0 0.1rem;
  text-align: center;
  bottom: 0;
}

.list .item .news {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0.2rem;
}
.list .item .news:after {
  content: '';
}
.list .item .news li {
  margin-bottom: 0.3rem;
}
.list .item .news li a {
  background: url(../images/btn_bg.png) no-repeat center top;
  background-size: 100% auto;
  width: 2.49rem;
  line-height: 0.66rem;
  color: #ffffff;
  text-align: center;
  display: block;
  font-size: 0.2rem;
}

.footer {
  background-color: #031b41;
  color: #ffffff;
  padding: 0.2rem 0.3rem 0.5rem;
  text-align: justify;
  font-size: 0.2rem;
}
#hb-pdf {
  width: 100%;
}
